Package: com.leroy.homesearch
Name: HomeSearch
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: LeroyB
Author: LeroyB
Section: Tweaks
