Package: com.leroy.customcarrier
Name: CustomCarrier
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Change the carrier string in the statusbar.
Maintainer: LeroyB
Author: LeroyB
Section: Tweaks
Version: 1.0-1+debug
Installed-Size: 516
