<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>title</key>
		<string>CustomCC</string>
		<key>items</key>
		<array>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.leroy.CustomCCPreferences</string>
				<key>key</key>
				<string>toggleSwitch</string>
				<key>label</key>
				<string>Enable tweak</string>
			</dict>
            <dict>
                <key>cell</key>
                <string>PSButtonCell</string>
                <key>label</key>
    			<string>Respring</string>
    			<key>action</key>
    			<string>respring</string>
    		</dict>
			<dict>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>placeholder</key>
				<string>margin Top</string>
				<key>defaults</key>
				<string>com.leroy.CustomCCPreferences</string>
				<key>key</key>
				<string>marginPosYPrefValue</string>
				<key>label</key>
				<string>Num value margin Y:</string>
			</dict>
            <dict>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>placeholder</key>
				<string>margin Top</string>
				<key>defaults</key>
				<string>com.leroy.CustomCCPreferences</string>
				<key>key</key>
				<string>marginPosXPrefValue</string>
				<key>label</key>
				<string>Num value margin X:</string>
			</dict>
            <dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>footerText</key>
				<string>All my tweaks are open sourced on GitHub! Use all of my code as long as you're open sourcing it as well.</string>
			</dict>
            <dict>
				<key>cell</key>
				<string>PSButtonCell</string>
				<key>icon</key>
				<string>GitHub</string>
				<key>label</key>
				<string>Source code on GitHub!</string>
				<key>alignment</key>
				<integer>2</integer>
				<key>action</key>
				<string>getGitHubURL</string>
			</dict>
            <dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>footerText</key>
				<string>Send me a message :P</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSButtonCell</string>
				<key>icon</key>
				<string>Twitter</string>
				<key>label</key>
				<string>Follow me on Twitter!</string>
				<key>alignment</key>
				<integer>2</integer>
				<key>action</key>
				<string>getTwitterURL</string>
			</dict>
		</array>
	</dict>
</plist>