Package: com.leroy.bocheats
Name: boCheats
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: LeroyB
Author: LeroyB
Section: Tweaks
Version: 0.0.1-1+debug
Installed-Size: 72
