Package: com.leroy.customcc
Name: CustomCC
Depends: mobilesubstrate, ws.hbang.common (>= 1.11), firmware(>=11.0), preferenceloader
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: LeroyB
Author: LeroyB
Section: Tweaks
Version: 0.1.1-84+debug
Installed-Size: 208
