Package: com.leroy.customcc
Name: CustomCC
Depends: mobilesubstrate, firmware(>=11.0), preferenceloader, org.thebigboss.libcolorpicker
Architecture: iphoneos-arm
Description: Customize you Control Center Page!
Maintainer: LeroyB
Author: LeroyB
Section: Tweaks
Version: 0.2.4-47+debug
Installed-Size: 224
