Package: com.leroyb.flexit
Name: FLEXit
Depends: mobilesubstrate, firmware (>= 8.0)
Version: 0.0.1
Architecture: iphoneos-arm
Description: Hold on the status bar to show FLEX toolbar. Works without libactivator
Maintainer: LeroyB
Author: Flipboard
Section: Tweaks
