Package: com.leroy.customcc
Name: CustomCC
Depends: mobilesubstrate
Version: 0.1.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: LeroyB
Author: LeroyB
Section: Tweaks
